body {
  background-color: #e7f4fd;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
}


.first {
  border-radius: 100%;
  border-top: solid #094b77;
  margin-top: 5vh;
  width: 50%;
}

.second {
  border-radius: 50%;
  border-top: solid #094b77;
  margin-bottom: 5vh;
  width: 30%;

}


.top-container {
  background-color: #BBE1FA;
  padding-top: 20vh;
}

.top-cloud {
  position: absolute;
  right: 25%;
  top: 17%;
}

.bottom-cloud {
  left: 25%;
  position: absolute;
  top: 45%;
}


h1 {
  color: #0F4C75;
  font-family: 'Dancing Script', cursive;
  font-size: 5.625rem;
  margin-top: 0;
}

.subtitle {
  color: #0F4C75;
  font-size: 1.3rem;
  font-weight: normal;
}

h2 {
  color: #3282B8;
  font-size: 2rem;
}

h3 {
  color: #3282B8;
}

p {
  font-weight: bold;
}


.profile {
  margin: auto;
  width: 50%;
}

.profile-picture {
  border-radius: 50%;
  height: 18vh;
}


.middle-container {
  margin-top: 5vh;
}


.skill-row {
  line-height: 2;
  margin: 15vh auto;
  text-align: left;
  width: 50%;

}


.skill-img {
  float: left;
  margin-right: 5vw;
  width: 20%;
}

.computer-img {
  border-radius: 100%;
}

.adaptation-img {
  float: right;
  margin: auto 0 auto 5vw;
}


.contact-me {
  margin-bottom: 7vh;
}

.btn {
  background: #3D94F6;
  border-radius: 20%;
  color: #FFFFFF;
  font-family: Verdana;
  padding: 2rem;
  text-shadow: 1px 1px 20px #000000;
  border: outset #337FED 4px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: inset #0059A0 4px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 25%;
  text-decoration: none;
}

a {
  color: #0F4C75;
}


.bottom-container {
  background-color: #3282B8;
  padding: 5vh 0 2vh;
}

.copyright {
  color: #EAF6F6;
  margin: 5vh auto 0;
}
